//Colores
$primario: #1073ba;
$secundario: #00DA55;
$gris: #3b3b3b;
$grisClaro: #e1e1e1;
$blanco: #ffffff;
$negro: #000;

//Fuentes
$fuentePrimaria: 'Roboto', sans-serif;
$fuenteSecundaria: "Lato", sans-serif;