@use "../base/mixins";
@use "../base/variables";

.sobre-tech{
    background: linear-gradient(to bottom, transparent 50%, #009c88 50%, #1073ba 100%), url(../../img/imagen-mujer.jpg);
    background-position: right;
    background-repeat: repeat, no-repeat;
    background-size: 100%, 110rem;
    @media(min-width:768px){
        background-image: linear-gradient(to left, transparent 50%, #009c88 50%, #1073ba 100%), url(../../img/imagen-mujer.jpg);
        background-size: 100%, 130rem;
    }
    &-grid{
        display: grid;
        grid-template-rows: repeat(2, 40rem);
        row-gap: 5rem;
        @include mixins.tablet{
            grid-template-rows: unset;
            row-gap: unset;
            grid-template-columns: repeat(2, 1fr);
            column-gap: 4rem;
            padding: 5rem;
        }
    }
    &-texto{
        h2{
            @include mixins.degradado;
            font-size: 5.5rem;
            padding: 0;
            margin: 1rem 0;
            text-shadow: 5px 5px 1px white;
        }
        grid-row: 2/3;
        color: variables.$blanco;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        @include mixins.tablet{
            padding-bottom: 0;
        }
        p{
            font-size: 2rem;
            line-height: 2;
        }


    }

}
